{% extends 'base.html' %}
{% load static %}

{% block nav %}
    <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
    <a href="{% url 'deals' %}" class="nav-item nav-link">Today's Deals</a>
    <a href="{% url 'shop' %}" class="nav-item nav-link">Shop</a>
    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
{% endblock %}

{% block content %}


    <!-- Checkout Start -->
    <form action="" method="post" class="container-fluid">
        {% csrf_token %}
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing And Shipping Address</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Full name</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="full_name" 
                            placeholder="Ridoy Khan" 
                            value="{{previous_shipping_details.full_name}}" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="email" 
                            placeholder="example@email.com" 
                            value="{{previous_shipping_details.email}}" 
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="mobile_number" 
                            placeholder="01314143897" 
                            value="{{previous_shipping_details.mobile_number}}" 
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Primary Address</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="primary_address" 
                            placeholder="alaipur, natore shador" 
                            value="{{previous_shipping_details.primary_address}}"
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input 
                            class="form-control" 
                            name="city" 
                            type="text"
                            placeholder="Natore city" 
                            value="{{previous_shipping_details.city}}"
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="district" 
                            placeholder="natore"
                            value="{{previous_shipping_details.district}}"
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Province</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="province" 
                            placeholder="Rajshahi" 
                            value="{{previous_shipping_details.province}}"
                            required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input 
                            class="form-control" 
                            type="text" 
                            name="zipcode" 
                            placeholder="6400" 
                            value="{{previous_shipping_details.zipcode}}"
                            required>
                        </div>
                        <div class="col-md-12 form-group">
                            {% if note_error %}
                            <div class="error">{{note_error}}</div>
                            {% endif %}
                            <label>notes</label>
                            <textarea maxlength="200" class="form-control" type="text" name="notes" placeholder="Near the mosjid market"></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="">
                                <small class="">We will Save info for convenient (you can change anytime later)</small><br>
                                <small class="">And we may call you for order details and address conformation. So please enter a valid phone number</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        {% for item in items %}
                        <div class="d-flex justify-content-between">
                            <p>{{item.product.name}}</p>
                            <p>{{item.product.price}} TAKA(qt:{{item.quantity}})</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>{{subtotal}} TAKA</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{shipping}} TAKA</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>{{total}} TAKA</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment_method" id="bkash" value="bkash">
                                <label class="custom-control-label" for="bkash">Bkash</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment_method" id="Cash_on_delivery" value="Cash on delivery" checked>
                                <label class="custom-control-label" for="Cash_on_delivery">Cash on delivery</label>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Checkout End -->


    {% endblock %}