{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="modal model-zoom-in" id="orderDeleteModal" tabindex="-1" aria-labelledby="orderDeleteModalLabel" data-tor-parent="show">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" data-tor="show(p):{scale.from(75) fade.in} quad">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="orderDeleteModalLabel">
                Cancel order?
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:left;">
            Are you really want to cancel this order?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button data-id={{order.id}} data-action="del" class="btn btn-primary your_order_delete_button reject-button">
                Cancel
            </button>
            </div>
        </div>
    </div>
</div>

<div class="redirect-order-div return-button order-responsive-margin"><a href="{% url 'your_order' %}" class="redirect-order"><i class='bx bx-arrow-back'></i> Back To Your Order List</a></div>
<div class="order-detail-container-wrapper">
    <div style="margin-bottom: 10px;" class="main-container order-responsive-margin">
        <h2 class="order-details-title">Order details</h2>
        <div class="order-status-wrapper">
            <span>Order Status: </span>
            {% if order.new %}
            <span class="order-status new">New</span>
            {% elif order.registered %}
            <span class="order-status registered">Registered</span>
            {% elif order.processing %}
            <span class="order-status processing">Processing</span>
            {% elif order.on_your_way %}
            <span class="order-status on_your_way">On Your Way</span>
            {% elif order.complete %}
            <span class="order-status complete">Complete</span>
            {% endif %}
        </div>

        <div class="payment-details">
            <div class="payment-details-label labels">Payment details:</div>
            <div class="containers">
                <div class="payment-method"><span>Payment Method: </span><span class="info-highlight main-info">{{order.payment_method}}</span></div>
                {% if order.paid %}
                <div class="payment-condition paid">Paid</div>
                {% else %}
                <div class="payment-condition unpaid">Unpaid</div>
                {% endif %}
            </div>
        </div>
        <div class="products-details">
                <div class="products-details-label labels">All ordered product:</div>
                <div class="product-container containers">
                    {% for order_item in order_items_array %}
                    <div class="product">
                        <div class="product-image-container">
                            {% if order_item.product.image %}
                            <img src="{{order_item.product.image.url}}" alt="Product Image">
                            {% else %}
                            <img src="{% static 'placeholder.jpg' %}" alt="Product Image">
                            {% endif %}
                        </div>
                        <div class="product-name">
                            <span class="product-name-label">Product Name: </span>
                            <a href="{% url 'detail' order_item.product.id %}" class="product-name" target="_blank">{{order_item.product.title}}</a>
                        </div>
                        <div class="product-category"><span>Category: </span><span class="main-info">{{order_item.product.raw_product.category}}</span></div>
                        <div class="product-small-desc"><span>Product Small description: </span><span class="main-info">{{order_item.product.raw_product.small_desc}}</span></div>
                        {% if order_item.product.raw_product.has_size and order_item.product.raw_product.colors %}
                        <div class="additional-product-details">
                            {% if order_items_array.order_item.color %}
                            <div class="color">
                                <span>Color: </span>
                                <span class="main-info">{{order_items_array.order_item.color}}</span>
                            </div>
                            {% endif %}
                            {% if order_items_array.order_item.size %}
                            <div class="size">
                                <span>Size: </span>
                                <span class="main-info">{{order_items_array.order_item.size}}</span>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="financial-details">
                            <div class="product-price"><span>Price: </span><span class="main-info">{{order_item.price}} TAKA</span></div>
                            <div class="product-quantity"><span>Quantity: </span><span class="main-info">{{order_item.quantity}}</span></div>
                            <div class="total-price"><span>Total Price: </span><span class="main-info">{{order_item.total}} TAKA</span></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
         
        </div>
        <div class="additional-order-details">
            <div class="additional-details-label labels">Additional details:</div>
            <div class="containers">
                <div class="notes">Order note: <div class="note div-main-info main-info info-highlight">{{order.notes}}</div></div>
                <div class="order-time">
                    <span>Order placing time: </span>
                    <span class="main-info info-highlight">{{order.timesince}} ago</span>
                </div>
            </div>
        </div>
        <div class="shipping-address-details">
            <div class="additional-details-label labels">Shipping/Billing details:</div>
            <div class="containers">
                <div class="shipping-full-name"><span>Full name: </span><span class="main-info info-highlight">{{shipping_details.full_name}}</span></div>
                <div class="shipping-email "><span>Email: </span><span class="main-info info-highlight">{{shipping_details.email}}</span></div>
                <div class="shipping-mobile-number"><span>Mobile number: </span><span class="main-info info-highlight">{{shipping_details.mobile_number}}</span></div>
                <div class="shipping-address"><span>Shipping address: </span><div class="div-main-info main-info info-highlight">{{shipping_details.primary_address}}</div></div>
                <div class="shipping-city"><span>City: </span><span class="main-info info-highlight">{{shipping_details.city}}</span></div>
                <div class="shipping-district"><span>District: </span><span class="main-info info-highlight">{{shipping_details.district}}</span></div>
                <div class="shipping-province"><span>Province: </span><span class="main-info info-highlight">{{shipping_details.province}}</span></div>
                <div class="shipping-zipcode"><span>Zipcode: </span><span class="main-info info-highlight">{{shipping_details.zipcode}}</span></div>
            </div>
        </div>
        <div class="order-actions">
            <button style='margin-top:50px' class="Reject-order Reject-order-trigger" data-bs-toggle="modal" data-bs-target="#orderDeleteModal" type="button">
                Delete this Order
            </button>
        </div>
    </div>
</div>
{% endblock %}